@media screen and (max-width:600px) {
  body {
    background-color: #F5FFFA;
  }

  #mobileOnly {
    display: block;
  }

}

@media screen and (min-width:601px) {
  body {
    background-color: white;
  }

  #mobileOnly {
    display: none;
  }

}


body {
  position: relative;
}

body p, body ul li {
  font-family: verdana, sans-serif;
  font-size: 1.1em;
}

#coverImg {
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.bodyImg {
  max-width: 100%;
  height: auto;
}

img.imgScale {
	display: block;
  width: 100%;
	max-width: 100%;

	height: auto !important;
  display: block;
  width: 100%

  margin-bottom: 100px;
}

table {
  margin: 20px 0px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px 10px;
}

table th {
  color: white;
  background-color: #708090;
}

table tr {
  font-family: Georgia, serif;
  background-color: #87CEEB;
}
